#saveText,
#cancelEditTask {
  background-color: #fff;
  width: 15vw;
  font-weight: bold;
  font-size: x-large;
  height: 5vh;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: x-large;
}

#closeModal {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  font-weight: 900;
  font-size: medium;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: x-large;
  outline: none;
}


#showTaskDialog .button-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  width: 50vw;
}

#closeModal::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}



#showTaskDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a9a9a9;
  padding: 20px;
  border-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
}

#blur {
  filter: blur(2px);
  backface-visibility: visible;
  overflow: hidden;
}
.dialog-content {
  flex-grow: 1;
  overflow-y: auto;
}

#showTaskDialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editTaskInput {
  width: 55vw;
  height: 60vh;
  padding: 1.6rem;
  resize: none;
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: xx-large;
  background-color: #a9a9a9;
}

#showTaskDialog::-webkit-scrollbar,
#editTaskInput::-webkit-scrollbar {
  width: 14px;
}

#showTaskDialog::-webkit-scrollbar-track,
#editTaskInput::-webkit-scrollbar-track {
  margin-top: 35px;
}

#showTaskDialog::-webkit-scrollbar-thumb,
#editTaskInput::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
  border: 3px solid #ccc;
}
