@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cccccc;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border: 3px solid black;
}

.logoName {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100vw;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  background-color: #1b1c1e;
}

#userMenu {
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: end;
}

.logoImage {
  width: 55px;
  height: 62px;
}

#userName {
  font-size: x-large;
  justify-content: end;
  margin-right: 1rem;
}

input {
  border-radius: 8px;
  outline: none;
  padding: 0.8rem;
  height: 3vh;
  width: 20vw;
  border-color: black;
  font-size: x-large;
}

input::placeholder {
  color: #000;
  font-size: x-large;
}

ul {
  list-style: none;
}

h1 {
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4vh 10vw;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.done {
  text-decoration-line: line-through;
}

.addTask {
  border-radius: 8px;
  padding: 0.8rem;
  height: 6.2vh;
  width: 8vw;
  font-weight: bold;
  font-size: x-large;
  background-color: #fff;
}

.listTasks {
  margin: 0;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.showTask {
  width: 90%;
  border: none;
  margin: 2rem;
  height: 10vh;
  border-radius: 8px;
  transition-duration: 0.6s;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a9a9a9;
  border-radius: 8px;
  font-size: large;
  height: 10vh;
}

.imageDone {
  width: 50px;
  height: 50px;
}

.imageTrash {
  width: 50px;
  height: 45px;
}

.textTask {
  max-width: 70%;
  margin-left: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: x-large;
}

.actionTasksButtons {
  display: flex;
  gap: 10px;
}

.deleteButton,
.buttonDone {
  border-radius: 8px;
  padding: 15px;
  transition-duration: 0.6s;
  border: none;
  background-color: transparent;
}

.showTask:hover {
  transform: scale(1.005);
}

.deleteButton:hover,
.buttonDone:hover {
  transform: scale(1.2);
}

.notElements {
  text-align: center;
  font-size: x-large;
}

.addTask:hover {
  transform: scale(0.9);
  transition-duration: 1s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1c1e;
  color: #fff;
  font-size: x-large;
  bottom: 0;
  gap: 3rem;
  position: fixed;
  width: 100%;
  text-align: center;
  height: 8vh;
}

footer img {
  width: 4vw;
  height: 4vh;
}

footer a {
  text-decoration: none;
}
